/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

icon-icon {
	pointer-events: none;
	display: block;
}

:root {
	--shadow-1: 0 4px 6px hsla(256, 100%, 9%, 0.1);
	--shadow-2: 4px 4px 0px hsla(0, 0%, 7%, 1);
	--shadow-3: 2px 2px 0px hsla(0, 0%, 7%, 1);

	--transition: 250ms ease;

	scroll-behavior: smooth;
}

/* Heading */
.header {
	position: fixed;
	top: 0;
	z-index: 6;
	width: 100%;
	padding-inline:50px;
	padding-block: 23px;
	border-bottom: 2px solid black;
}

.active {
	background-color: #333;
	transition: all .2s ease-in-out;
	border: 0;
}

.header.active #heading > h2,
.header.active .navigation .navigation-list a {
	color: white;
}

.header > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#heading {
	display: flex;
	align-items: center;
}
#heading img{
	width: 50px;
}

h2.heading_text {
	color: #333;
	font-size: 28px;
	font-weight: 700;
}
h2.heading_text::first-letter {
	font-size: 34px;
}

.navigation-list {
	display: flex;
	align-items: center;
}

.navigation-item a{
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	color: black;
}

.navigation-item a:hover {
	color: rgb(171, 195, 214);
	border-bottom: 1px solid rgb(171, 195, 214);
	transition: all .2s ease-in-out;
}

.container-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 70px 20px 70px;
}

.container-wrapper .hero-image img {
	width: 400px;
	height: 400px;
	justify-self: center;
}

/* Hero Section */
.hero {
	padding-block: 170px 100px;
	border-bottom: 2px double;
}

.hero-content {
	line-height: 1.4;
}

.hero-content > h1.hero-subtitle {
	font-size: 1.5rem;
	font-weight: 600;
	color: #333;
}

.hero-title {
	font-size: 4.2em;
	font-weight: 700;
}

p.hero-text {
	font-size: 20px;
	font-weight: 600;
	margin-block: 10px;
}

.hero-content .quotes {
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 18px;
	font-weight: 700;
}

.button {
	background-color: white;
	color: black;
	display: flex;
	text-decoration: none;
	align-items: center;
	max-width: max-content;
	min-width: max-content;
	padding: 15px 20px;
	border:  2px solid black;
	box-shadow: var(--shadow-2);
	font-weight: 700;
	transition: var(--transition);
	margin-top: 35px;
	border-radius: 20px;
}

.button:is(:hover, :focus-visible) {
	box-shadow: none;
}

.main-btn {
	gap: 5px;
	text-transform: uppercase;
}

:is(.main-btn) ion-icon {
	font-size: 1.4rem;
}

/* About */
.about {
	padding: 1.6rem;
	margin-block: 2.5rem;
}

.about .container {
	display: flex;
	flex-direction: row;
	gap: 40px;
	padding: 0 35px 0 35px;
	align-items: center;
}

.about > .about-heading {
	color: black;
	font-size: 50px;
	text-align: center;
	font-weight: 800;
	margin-bottom: 35px;
}

.about-content-left,
.about-content-right {
	width: 50%;
}
.about-content-left h1{
	font-size: 35px;
	font-weight: 700;
	margin-block: 15px;
}

.about-content-left p,
.about-content-right p {
	font-size: 17px;
	line-height: 1.5;
	font-weight: 500;
}

.about-content-left p > span  {
	background-color: black;
	color: white;
}

.about-content-right h1 {
	font-size: 33px;
	font-weight: 700;
	margin-block: 15px;
}

a.content-icon {
	font-size: 35px;
	color: black;
	display: inline-block;
	width: 50px;
	text-align: center;
	margin-top: 20px;
	margin-inline: 5px;
	padding: 10px 10px 0 10px;
	background-color: white;
	box-shadow: var(--shadow-2);
}